<html>  
<head>  
<title>AngularJS ng-bind Directive </title>
  
<script SRC="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js">  
</script>  
<script>
    //Defining Controller Using Standard Javascrip Object Constructor  
    function CustomerController($scope) {
        $scope.customer = { name: "Jimi Scott", address: "12-13-283/A1", email: "Jimi@yahoo.com" };
    }
</script>  
</head>  
<body>  
<div ng-app="">  
<div ng-controller="CustomerController">   
<span ng-bind="customer.name"></span>  
<span ng-bind="customer.address"></span>  
<span ng-bind="customer.email"></span>  
  
</div>  
</div>  
</body>  
</html> 