<html>
   
   <head>
      <title>Angular JS Custom Directives</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   
   <body>
       <h2>Angular JS Custom Directives</h2>
      
      <div ng-app = "mainApp" ng-controller = "StudentController">
         <student name = "Mahesh"></student><br/>
         <student name = "Piyush"></student>
      </div>
		
     
      
      <script>
          var mainApp = angular.module("mainApp", []);

          mainApp.directive('student', function () {
              var directive = {};
              directive.restrict = 'E';
              directive.template = "Student: <b>{{student.name}}</b> , Roll No: <b>{{student.rollno}}</b>";

              directive.scope = {
                  student: "=name"
              }

              directive.compile = function (element, attributes) {
                  element.css("border", "1px solid #cccccc");

                  var linkFunction = function ($scope, element, attributes) {
                      element.html("Student: <b>" + $scope.student.name + "</b> , Roll No: <b>" + $scope.student.rollno + "</b><br/>");
                     // element.css("background-color", "#ff00ff");
                  }
                  return linkFunction;
              }

              return directive;
          });

          mainApp.controller('StudentController', function ($scope) {
              $scope.Mahesh = {};
              $scope.Mahesh.name = "Sachin Tendulkar";
              $scope.Mahesh.rollno = 1;

              $scope.Piyush = {};
              $scope.Piyush.name = "Ramesh Sethi";
              $scope.Piyush.rollno = 2;
          });

      </script>
      
   </body>
</html>